<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DATABASE</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"> </script>
  <link rel="stylesheet" href="./stylesheets/style.css">
    <script type="text.javascript"src="index.js"></script>
  <style>
  p{
    text-transform:capitalize;
    font-family:'Times New Roman',Times,serif;
  }
  </style>


</head>
<body>
    <header>
          <h1 align="center"style="font-size:30px;background-color:#F5F5DC;position:float">DATABASE</h1>
    </header>
    <nav >
        <ul>
            <li>
                <a class="nav-link" href="/project.html">Make changes in the database</a>
            </li>
        </ul>
    </nav>
    <div class = "content" id = "tableid">
        <table>

            <tr>
                <th>First name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Type</th>
                <th>Password</th>
            </tr>
            <% rows.forEach(function(r) { %>
                <tr>
                    <td ><%= r.fname%></td>
                      <td ><%= r.lname%></td>
                        <td ><%= r.username%></td>
                          <td ><%= r.email%></td>
                            <td ><%= r.phone%></td>
                              <td ><%= r.type%></td>
                                <td ><%= r.password%></td>
                </tr>
            <% }); %>
        </table>

    </div>

</body>
</html>