<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Ingredients</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/myingredients.css">


</head>

<body>
    <!-- Beginning of modal-->
    <div class="modal fade" id="ingredientsModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: darkolivegreen;">
                    <h2 class="modal-title" style="font-weight: bold; color: white;">Add Available Ingredients</h2>
                    <button type="button" class="close" data-dismiss="modal" style="color: white;">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class='row justify-content-center'>
                            <div class="col-11">
                                <!-- beginning of table-->
                                <table class="table" style="table-layout: fixed;">
                                    <thead>
                                      <tr>
                                        <th scope="col">Img</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Aisle</th>
                                        <th scope="col">Unit</th>
                                        <th scope="col">Amount</th>
                                      </tr>
                                    </thead>
                                    <tbody class='addIngredientBody'>
                                      <tr class="ingredientsRow">
                                        <td><img src='https://spoonacular.com/cdn/ingredients_100x100/sliced-carrot.png' style="height: 50px; width: 50px;"></td>
                                        <td>Carrots</td>
                                        <td>Produce</td>
                                        <td>Lbs</td>
                                        <td><input type="number"  class="ingredientInput" data-ingredientId="232" style="box-sizing: border-box; width: 100%;" value='0'></td>
                                      </tr>
                                    </tbody>
                                </table>
                                <!-- Ending of table-->
                            </div>
                        </div>    
                    </div>
                </div>
    
    
    
                <div class="modal-footer" style="background-color: darkolivegreen;">
                    <button type="button" id = "add-to-my-ingredients" class="btn btn-success" data-dismiss="modal">Add to my ingredients</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="color: white;">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--End of modal-->


    <div class="container mb-3 mt-3">
        <table class="table table-striped table-bordered mydatatable" style="width:100%">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Unit</th>
                    <th>Aisle</th>
                </tr>
            </thead>
            <tbody>
                <% if(ingredients.length == 0) { %>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                <% } else {%>
                    <% ingredients.forEach(function(r) { %>
                        <tr>
                            <td>
                                <%if(r.image.startsWith("http")){%>
                                    <img src="<%= r.image %>">
                                    
                                <% } else {%>
                                    <img src="<%= 'https://spoonacular.com/cdn/ingredients_100x100/'+r.image %>">
                                <%}%>
                            </td>
                            <td>
                                <%= r.ingredient_name %>
                            </td>
                            <td>
                                <%= r.amount %>
                            </td>
                            <td>
                                <%= r.unit %>
                            </td>
                            <td>
                                <%= r.aisle %>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>

    <button type="button" id="open-ingredient-modal" class="btn btn-success">Add Ingredients!</button>

    <!-- <form action="/add/addIngredient" method="POST">
        <div class="form-row" style="padding-bottom: 120px;">
            <div class="form-group col-md-10">
              <label for="ingredient_id">ID of the Ingredient</label>
              <input type="text" class="form-control" name="ingredient_id" id="ingredient_id" placeholder="ID of the Ingredient">
            </div>
        </div>

        <input style="position: relative; left: 15px; top: 20px;" type="submit" class="btn btn-primary btn-lg" name = "sub" value="Add a Ingredient!">
    </form> -->

    <!-- <form action="/add/deleteIngredient" method="POST">
        <div class="form-row" style="padding-bottom: 100px; padding-top: 50px;">
            <div class="form-group col-md-10">
              <label for="ingredient_id">ID of the Ingredient</label>
              <input type="text" class="form-control" name="ingredient_id" id="ingredient_id" placeholder="ID of the Ingredient">
            </div>
        </div>

        <input style="background-color: red; position: relative; left: 15px; top: 20px;" type="submit" class="btn btn-primary btn-lg" name = "sub" value="Delete a Ingredient!">
    </form> -->

    <br>
    <br>

    <a href="/userview" class="btn btn-success btn-lg" style="position: relative; left: 12px;">Go Back Home</a>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="text/javascript" src="ingredientCart.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>      
    <script>
        $('.mydatatable').DataTable();
    </script>  

</body>


</html>