<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"> </script>
  <script type="text.javascript"src="index.js"></script>
  <link rel='stylesheet' href='/stylesheets/ad.css'>
  <link rel='stylesheet' href='/stylesheets/navigation.css'>
</head>
<body>
  <%- include('../partials/navigation-a.ejs')%>

  <div class="content">
  <div class="container-fluid">

    <h2>Database</h2>
    <hr>

    <div id = "tableid">
       <table>

           <tr>
               <th> First name </th>
               <th>Last Name</th>
               <th>Username</th>
               <th>Email</th>
               <th>Phone number</th>
               <th>Type</th>
               <th>Password</th>
           </tr>
          <% rows.forEach(function(r){ %>
              <tr>

                  <td ><%= r.fname%></td>
                    <td ><%= r.lname%></td>
                      <td ><%= r.username%></td>
                        <td ><%= r.email%></td>
                          <td ><%= r.phone%></td>
                          <td ><%= r.type%></td>
                            <td ><%= r.password%></td>
               </tr>
           <% }); %>
       </table>

    </div>
    <br>
    <nav align="center">
      <a class="btn btn-success" href="/database">Back to user database</a>
      <a class="btn btn-success" href="/admin/viewUpdateUsers">Make changes in the database</a>
    </nav>
  </div>
  </div>



</body>
</html>
